<mat-card>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Serviços</span>
      <span class="example-spacer"></span>

    </mat-toolbar-row>
</mat-toolbar>

  <div class="mat-elevation-z8 column-flex">
    <app-servicos-lista
      *ngIf="servicos$ | async as servicos; else loading"
      [servicos]="servicos"
      (adicionar)="adicionarServico()"
      (editar)="editarServico($event)"
      (excluir)="excluirServico($event)"
    ></app-servicos-lista>
  </div>

<div>


</div>

<ng-template #loading>
  <div class="carregando-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

</mat-card>
