<mat-card>

  <mat-toolbar color="primary">Detalhes do Serviço</mat-toolbar>

  <mat-card-content>
  <div style="padding: 25px; align-items: center; justify-content: center; text-align: center;">
    <form [formGroup]="formulario" class="min-width">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" formControlName="nome">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Senha" formControlName="password">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Repetir senha" formControlName="confirmPassword">
        </mat-form-field>


        <!--
        <mat-form-field class="full-width">
          <mat-label> Categoria </mat-label>
          <mat-select formControlName="categoria">
            <mat-option value="artista">Artista</mat-option>
            <mat-option value="audiovisual">Audio Visual</mat-option>
            <mat-option value="tecnologia">Tecnologia</mat-option>
            <mat-option value="teatro">Teatro</mat-option>
            <mat-option value="musico">Musico</mat-option>
          </mat-select>
        </mat-form-field>
      -->

    </form>
  </div>

</mat-card-content>

<mat-card-actions>
  <button mat-raised-button color="primary" (click)="submeterConta()"> Salvar </button>
  <button mat-raised-button (click)="cancelarConta()"> Cancelar </button>
</mat-card-actions>
</mat-card>
