<mat-toolbar color="primary">



    <!--    MODO ESCURO
       <mat-slide-toggle> Modo Escuro </mat-slide-toggle>
    -->

    <!--
    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
      <mat-icon>add</mat-icon>
    </button>
    -->
    <!--
    <button  mat-raised-button>
    </button>
    -->



  <mat-toolbar-row>
    <a href="" style="text-decoration: none; color: white;"><span>Identidade Cultural</span></a>
    <span class="example-spacer"></span>

    <div style="text-align: right; align-items: flex-end; width: 100%; height: 100%;">
      <button mat-mini-fab color="primary" (click)="showFiller = !showFiller" aria-label="Example icon button with a plus one icon">
      <mat-icon >menu</mat-icon>
      </button>
      <div style="font-size: 10px; padding-right: 10px; padding-top: -215px;"> Menu </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
  <mat-drawer  #drawer class="example-sidenav" mode="side">

    <div *ngIf="showFiller" style="width: 100%; height: 70%; background-color: #455a6471; animation-duration: 3s;">

      <button> <i></i></button>



      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>

    </div>



  </mat-drawer>




</mat-drawer-container>

<div class="example-sidenav-content">
  <mat-slide-toggle
    class="example-margin"
    (change)="showFiller">
</mat-slide-toggle>
</div>
